/*  - Changed nav bar button color
    - Changed nav bar button hover color
    - Changed card button color
    - Changed thickness of nav button borders
    - Fixed card corner roundness
    - State there is space above navbar buttons
    * Possibily design buttons better

    --- 10/13/2019 ---
    - Added voting options to voting page
    - Added footer
    * Fix footer position

    --- 10/22/2019 ---
    - Added a better shopping design
    - Added a better logo to the nav bar
    - Fixed footer position

    --- 11/2/2019 ---
    - Added a shadow effect around cards & navbar
    - Started About Us page
    - Replaced "Checkout" with a cart icon
    - Added border and shadow around carousel


*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  position: relative;
}


/* Navbar */
.navbar {
  box-shadow: 6px 6px 5px grey;
}

.nav-buttons {
  border-radius: 20px;
  margin-left: 10px;
  padding: 10px;
  height: 52px;
  width: 90px;
  background-color: #BDBDBD;
  border-color: #000000;
  border-width: 2px;
  white-space: nowrap;
}


.nav-buttons:active {
  background-color: black;
}

.nav-buttons:hover {
  background-color: #FF5722;
}

#top-nav {
  background-color: #607d8b;
  padding: 12px;
  margin: 10px;
}

nav a {
  color: black;
}

nav a:hover {
  text-decoration: none;
  color: black;
}

/* Cards */
.card {
  margin: 20px;
  background-color: #607d8b;
  /*border-radius: 20px;*/
}

.col-lg-4.col-md-6.mb-4.card.h-100 {
  box-shadow: 10px 10px 5px grey;
}

.card-body {
  background-color: #607d8b;
  border-radius: 20px;
}

.card-img-top {
  border-radius: 25px;
}

div.card {
  border-radius: 25px;
}

.btn.btn-primary.card-btn {
  background-color: #FF5722;
  border-color: #FF5722;
  color: black;
}

h4.card-title {
  text-align: center;
}

.list-group-item {
  background-color: #607d8b;
}

a.list-group-item {
  color: black;
}

.card-footer a {
  color: black;
  align-content: center;
}

.btn.btn-primary.card-btn:hover {
  color: white;
}

#quantity-form {
  height: 30px;
  width: 40px;
}

/* Footer */
#sticky-footer {
  background-color: #607d8b;
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
  clear: both;
}

/* About us */
/* Three columns side by side */
.column {
  float: left;
  width: 100%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 6px 6px 5px grey;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

.list-group {
  box-shadow: 6px 6px 5px grey;
}

#carouselExampleIndicators {
  border: 5px solid #607d8b;
  border-radius: 10px;
  box-shadow: 6px 6px 5px grey;
}

.d-block.img-fluid {
  border-radius: 4px;
}

/* About Us */
img#aboutus-img {
  border-radius: 20px;
  display: block;
  margin: auto;
}

#aboutus-header {
  text-align: center;
}

p.title {
  text-align: center;
}

#aboutus-description {
  text-align: center;
}

#aboutus-email {
  text-align: right;
}
